* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    background-color: #7ADFFF;

}

.container {
    max-width: 1200px;
    min-height: 800px;
    margin: 52px auto;
    padding: 0 16px;
}

.grid {
    display: grid;
    gap: 20px;
    grid-template-areas:
        "dolly dolly dolly pihu"
        "tithi tithi tithi pihu"
        "tithi tithi tithi pihu";
}

.box1 {
    grid-area: dolly;
    background-color: #4F8EEC;
}

.box2 {
    grid-area: tithi;
    background-color: #0A1E3C;
}

.box3 {
    grid-area: pihu;
    background-color: #005C79;
}


@media screen and (width > 1200px) {}

@media screen and (width < 1200px) and (width > 450px) {
    .grid {
        gap: 16px;
    }
}



@media screen and (width <450px) {
    .container {
        margin: 24px auto;
    }

    .grid {
        gap: 16px;
        grid-template-areas:
            "dolly"
            "dolly"
            "dolly"
            "tithi"
            "tithi"
            "tithi"
            "tithi"
            "pihu"
            "pihu"
            "pihu";
    }
}